# THIS IS ONLY AN EXAMPLE. YOU CAN CHANGE THE SETTINGS, IF NECESSARY.
net: "../model/train.prototxt"

base_lr: 0.00004
lr_policy: "multistep"
gamma: 0.5

# TRAIN Batch size: 8
# TEST Batch size: 4
test_iter: 160

test_interval: 5000
stepvalue: 120000
stepvalue: 160000
stepvalue: 200000
stepvalue: 240000
max_iter: 300000
snapshot: 30000

momentum: 0.9
weight_decay: 0.0004
display: 250

snapshot_prefix: "flow"
solver_mode: GPU
solver_type: ADAM
momentum2: 0.999
